.navigaatio {
  font-family: arial;
  padding: 5px;
  background-color: dodgerblue;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
}

li {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  text-align: center;
}